<template>
    <a :href="gameURL">
        <div class="game-item">
            <img :src="imageURL" alt="">
            <div class="game-item__info">
                <div class="game-item__info-main">
                    <h1 class="game-item__info-title">{{ game.name }}</h1>
                    <p class="game-item__info-creator">{{ game.creator }}</p>
                </div>
                <h1 class="game-item__info-date">{{ date }}</h1>
            </div>
        </div>
    </a>
</template>

<script>
    export default {
        name: "GameItem",
        props: [
            'game'
        ],
        computed: {
            gameURL() {
                return `https://www.epicgames.com/store/de/product/${this.game.name.toLowerCase().replace(/ +/g, "-")}/home`;
            },
            date() {
                // eslint-disable-next-line no-unused-vars
                const from = this.game.date.from.format('DD. MMM. YY');
                // eslint-disable-next-line no-unused-vars
                const to = this.game.date.to.format('DD. MMM. YY');

                return `${from} - ${to}`;
            },
            imageURL() {
                if(this.game.img) {
                    return `./assets/GameImages/${this.game.img}.png`;
                }
                return `./assets/GameImages/${this.game.name}.png`;
            }
        }
    }
</script>

<style lang="scss" scoped>

    h1, p {
        padding: 0;
        margin: 0;
    }

    img {
        margin: 0;
        padding: 0;

        width: 100%;
        object-fit: cover;

        display: block;
    }

    a {
        text-decoration: none;
    }

    .game-item {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        width: 100%;
        margin-bottom: 1rem;

        position: relative;

        cursor: pointer;

        &::before {
            content: '';
            position: absolute;

            box-sizing: border-box;

            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            transition: border .1s ease;

            border: 0 solid #651BEC;
        }

        &:hover::before {
            border: .3rem solid #651BEC;
        }
    }

    .game-item__info {
        height: 50px;

        background-color: #373737;

        overflow: hidden;

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .game-item__info-date {
        font-size: .8rem;

        color: #F5F5F5;
        padding: 1rem;
    }

    .game-item__info-main {

        padding: 1rem;
        text-align: left;

        .game-item__info-title {
            color: #F5F5F5;

            font-size: .9rem;

            font-weight: normal;
        }

        .game-item__info-creator {
            color: #969696;
            font-size: .7rem;

        }
    }
</style>