<template>
  <div id="app">
    <div class="header">
      <h1>Free Epic Games List</h1>
    </div>

    <div class="row center-xs app-container">
      <div class="col-xs-10 col-md-6">
        <div class="row">

           <div class="col-xs-12 app-header-container">
             <div class="app-header">
               <h1>Demnächt Erhältlich</h1>
             </div>
           </div>

          <div class="col-md-6 col-xs-12" v-for="game in soonAvailable" :key="game.name"><r3-game-item :game="game"></r3-game-item></div>

          <div class="col-xs-12 app-header-container">
            <div class="app-header">
              <h1>Aktuell Erhältlich</h1>
            </div>
          </div>

          <div class="col-md-6 col-xs-12" v-for="game in currentlyAvailable" :key="game.name"><r3-game-item :game="game"></r3-game-item></div>

          <div class="col-xs-12 app-header-container">
            <div class="app-header">
              <h1>Früher Erhältlich</h1>
            </div>
          </div>

          <div class="col-md-6 col-xs-12" v-for="game in pastlyAvailable" :key="game.name"><r3-game-item :game="game"></r3-game-item></div>

        </div>
      </div>
    </div>

    <div class="creator-tag">
      <p>Made with <span style="color: red">&#10084;</span> by</p>
      <a href="https://gitlab.com/R3mb0">R3mb0</a>
    </div>
  </div>
</template>

<script>
import GameItem from './components/GameItem.vue'

import moment from 'moment';

export default {
  created() {
      this.$http
        .get('assets/games.json')
        .then(res => {
            this.games = res.data;
        });
  },
  name: 'app',
  data() {
    return {
        games: []
    }
  },
  components: {
    'r3-game-item': GameItem
  },
  computed: {
    soonAvailable() {
      return this.gamesWidthDate.filter(el => {
        let now = moment();

        return el.date.from.isAfter(now);
      });
    },
    currentlyAvailable() {
      return this.gamesWidthDate.filter(el => {
        let now = moment();

        return now.isBetween(el.date.from, el.date.to);
      });
    },
    pastlyAvailable() {
      const games = this.gamesWidthDate.filter(el => {
        let now = moment();

        return el.date.to.isBefore(now);
      });

      games.sort((a, b) => {

        if(a.date.from.isAfter(b.date.from)) {
          return 1
        } else if(!a.date.from.isAfter(b.date.from)) {
          return -1;
        } else {
          a.multi = true;
          return 0;
        }
      });

      return games.reverse();
    },

   gamesWidthDate() {
     let sortedGames = [...this.games];

     sortedGames.map(el => {
       let game = el;
       game.date = {
          from: moment(el.date.from, "DD.MM.YYYY"),
          to: moment(el.date.to, "DD.MM.YYYY")
        };

        return game;
     });

     return sortedGames.reverse();
   }
  }
}
</script>

<style lang="scss">
  @import "~normalize.css";
  @import "~flexboxgrid";
  @import "scss/mixins.scss";

  html, body {
    width: 100%;

    font-family: 'Open Sans', sans-serif;

    overflow-x: hidden;
  }

  .app-header-container {
    margin-bottom: 1rem;
  }

  .app-header {
    background-color: #373737;

    padding: .5rem;

    h1 {
      padding: 0;
      margin: 0;

      font-weight: normal;

      color: white;

      font-size: 1.5rem;
    }
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #F5F5F5;

    h1 {
      padding: 0;
      margin: 0;

      font-weight: normal;
      font-size: 1.5rem;
    }
  }

  #app {
    background-color: #121212;
    height: 100%;
    width: 100%;
  }

  .app-container {
    padding-top: 70px;
    height: 100%;
  }

  .header {
    height: 50px;

    position: fixed;

    width: 100%;

    background-color: #2A2A2A;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    z-index: 99;
  }

  .footer {
    background-color: #2A2A2A;
  }

  .creator-tag {
    width: 100%;
    text-align: center;

    padding: 1rem;

    background-color: #651BEC;

    p {
      padding: 0;
      margin: 0 0 .2rem;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
</style>
